# Environment
.env

# Go
backend/tmp/
backend/vendor/

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker/data/

# MinIO data
minio-data/

# Logs
*.log
